<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CasCADe Guide Search</title>
    <style>
        .title {
            padding: 1rem;
            text-align: center;
        }
    </style>
  </head>
  <body>
	<div class="container" style="padding: 1rem">
        <div class="title">
        <h3 style="display:inline-block">Error in Guide Search:</h3>
        </div>
        <div class="alert alert-danger">
            {{errorString}}
        </div>
		
	</div>
  </body>
</html>