# program/data folders
.env
apache2/certs/*
!apache2/certs/.gitkeep
apache2/sites-enabled/*
!apache2/sites-enabled/sample
bin
config
jbrowse/*
!jbrowse/data
jbrowse/data/*
!jbrowse/data/datasets.sample.conf
!jbrowse/plugins
jbrowse/plugins/*
!jbrowse/plugins/ColorByCDS
!jbrowse/plugins/ExportSequence
mongodb
node_modules

# filetypes
*.pyc
*.swp
*.swo
*.ape
*.P3OUT

# temporary files
src/guide-finder/tempfiles/*
src/primer-design/files/**/*.csv
src/primer-design/files/**/*.ape
src/primer-design/files/**/*.json
src/primer-design/files/**/*_input
src/primer-design/files/**/*.doc

#temp directories
score_test/*
src/guide-finder/old_tempfiles/*
src/guide-finder/tempfilesget_seq_test.fa
src/helpers/RGEN_backup/*

# log files
src/guide-finder/logs/*.log
