config
dependencies/dicey
dependencies/ncbi-blast-2.7.1+
dependencies/primer3
genomes/mm10
genomes/Rnor_6
jbrowse/data.*
*.pyc
primerDesign/python/files/**/*.csv
primerDesign/python/files/**/*.ape
primerDesign/python/files/**/*.json
primerDesign/python/files/**/*_input
primerDesign/python/files/**/*.doc
*.swp
*.swo
*.ape
*.P3OUT
temp/*.json
temp/*.log
temp/*.fa
temp/*.bed
temp/*.tab
jbrowse/sample_data
GuideFinder/tempfiles/*
GuideFinder/src/cfd_code
mongodb/*
