# program/data folders
bin/dicey
bin/ncbi-blast-2.7.1+
bin/primer3
jbrowse/data.*
config

# filetypes
*.pyc
*.swp
*.swo
*.ape
*.P3OUT

# temporary files
src/guide-finder/tempfiles/*
src/primer-design/files/**/*.csv
src/primer-design/files/**/*.ape
src/primer-design/files/**/*.json
src/primer-design/files/**/*_input
src/primer-design/files/**/*.doc