html {
	margin: 0;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-image: url("../img/dna_graphic_darker.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
	padding-bottom: 3rem;
}

.topPadding {
	padding-top: 3rem;
}

.jumbotron {
	border-radius: 0;
	padding: 0;
	margin-bottom: 0;
	background: none;
}

.navbar {
	background-color: none;
}

.footer {
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	padding-top: 0.75rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	color: #dcdcdc;
}

.container a {
	color: #4cbcde;
}

.container a:hover {
	text-decoration: underline;
}

.footer p a {
	color: inherit;
}

.footer p a:hover {
	text-decoration: none;
	color: white;
}

.nav-item {
	padding: 0.5rem;
}

.navigationLink {
	color: #8c8c8c;
}

.selectedNavigation, .selectedNavigation:hover {
	color: white;
}

.navigationLink:hover{
	color: white;
	text-decoration: none;
}

.genomeSelection {
	padding: 2rem;
	text-align: center;
}

#tool-title {
	color: white;
}

#tool-desc {
	color: white;
}

#tool-desc a {
	color: white;
	font-weight: bold;
}

#tool-desc b {
	color: #4cbcde;
}

.select2-container {
	width: 350px!important;
}

#goButton {
	color: white;
	background-color:#82cbff;
	border: none;
}
