body {
  margin: 15px;
  text-align: center;
}
#writePrimersButton {
  //float: right;
  //margin-right: 150px;
  width: 125px;
  white-space: normal;
}
#primerType {
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}
#removedNote {
  text-align: left;
  padding-left: 10px;
}
.downloadLink {
  text-decoration: none;
}
.centreCell {
  text-align: center;
}
#retryText {
  display: block;
  text-align: center;
}
